*
  margin 0
  padding 0

.logo-exterior
  height 180x
  padding-top 10px

.logo-container
  background url('images/logo.png')
  margin 0 auto
  height 180px
  width 552px
  padding 5px

#round
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 10px;

body
  background color-background
  background-attachment fixed
  background-image url('images/bg.png')
  font 300 14px font-main
  text-shadow 0 0 1px transparent
  z-index -1

h1
  font-size 2em

h2
  font-size 1.6em

h3
  font-size 1.3em

a
  color color-main01
  text-decoration none

strong
  font-weight bold

.alignleft
  float left

.alignright
  float right

.clearfix
  clearfix()

.inner
  margin 0 auto
  position relative
  width 1000px
  z-index 2