nav-height = 45 + 3*2px

#header
  height 90px
  padding-top 30px
  padding-bottom 40px
  nav
    font 1.5em font-title
    line-height nav-height
    width 724px
    ul
      height 90px
      list-style none
      text-align center
      li
        height 90px
        line-height 90px
        margin 0 30px
        display inline-block
      a
        color #fff
        opacity 0.7
        transition 0.3s
        &:hover
          opacity 1

#nav-container
  float right
  width 724px
  height 90px